statemachines/definition.asl.json
{
    "Comment": "DIY StackSets",
    "StartAt": "GetAccounts",
    "States": {
        "GetAccounts": {
            "Type": "Task",
            "Resource": "${GetAccountListArn}",
            "Next": "DeployStacks"
        },
        "ReportError": {
            "Type": "Task",
            "Resource": "${ReportErrorArn}",
            "End": true
        },
        "DeployStacks": {
            "Type": "Map",
            "InputPath": "$.accounts",
            "ItemsPath": "$.list",
            "MaxConcurrency": 0,
            "Iterator": {
                "StartAt": "DeployStack",
                "States": {
                    "DeployStack": {
                        "Type": "Task",
                        "Resource": "${DeployStackArn}",
                        "End": true
                    }
                }
            },
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "Next": "ReportError"
                }
            ],
            "End": true
        }
    }
}